# Carregamento e inspeção do Dataset

In [1]:
# Bibliotecas que serão usadas
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Configuração do Pandas para mostrar todas as colunas
pd.set_option('display.max_columns', None)

In [3]:
# Carregamento da base de dados
df_raw = pd.read_csv('../data/raw/online_retail_II.csv')

In [4]:
# Analisando as primeiras linhas
df_raw.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

In [5]:
df_raw.info()
df_raw.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067371 entries, 0 to 1067370
Data columns (total 8 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Invoice      1067371 non-null  object
 1   StockCode    1067371 non-null  object
 2   Description  1062989 non-null  object
 3   Quantity     1067371 non-null  int64
 4   InvoiceDate  1067371 non-null  object
 5   Price        1067371 non-null  float64
 6   Customer ID  824364 non-null   float64
 7   Country      1067371 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 65.1+ MB

(1067371, 8)

In [6]:
df_raw.describe()

           Quantity         Price    Customer ID
count  1.067371e+06  1.067371e+06  824364.000000
mean   9.938898e+00  4.649388e+00   15324.638504
std    1.727058e+02  1.235531e+02    1697.464450
min   -8.099500e+04 -5.359436e+04   12346.000000
25%    1.000000e+00  1.250000e+00   13975.000000
50%    3.000000e+00  2.100000e+00   15255.000000
75%    1.000000e+01  4.150000e+00   16797.000000
max    8.099500e+04  3.897000e+04   18287.000000

Limpeza dos Dados

In [7]:
# Cópia do dataset para segurança dos dados
df = df_raw.copy()

In [8]:
df = df.dropna(subset=['Customer ID'])
print(f"Linhas após remover os nulos: {df.shape[0]}")

Linhas após remover os nulos: 824364

In [9]:
df['Customer ID'] = df['Customer ID'].astype(int)

In [10]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

In [11]:
print(df.dtypes)

Invoice                object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
Price                 float64
Customer ID             int64
Country                object
dtype: object

In [12]:
df = df[(df['Price'] > 0) & (df['Quantity'] > 0)]
print(f"Linhas válidas: {df.shape[0]}")

Linhas válidas: 805549

In [13]:
df['Total_Price'] = df['Quantity'] * df['Price']

In [14]:
print(df[['Quantity', 'Price', 'Total_Price']].head())
print(f"Faturamento total: {df['Total_Price'].sum():,.2f}")

   Quantity  Price  Total_Price
0        12   6.95         83.4
1        12   6.75         81.0
2        12   6.75         81.0
3        48   2.10        100.8
4        24   1.25         30.0
Faturamento total: 17,743,429.18

In [15]:
# Verificar se todos os pedidos cancelados foram removidos
cancelamentos_pedidos = df[df['Invoice'].astype(str).str.startswith('C')]
print(f"Cancelamentos encontrados: {cancelamentos_pedidos.shape}")

Cancelamentos encontrados: (0, 9)

In [16]:
top_countries = df['Country'].value_counts(normalize=True).head()
print(top_countries)

Country
United Kingdom    0.900318
Germany           0.020724
EIRE              0.019543
France            0.017146
Netherlands       0.006316
Name: proportion, dtype: float64

In [17]:
# O top_countries acima mostra que 90% dos dados é do reino unido
df_uk = df[df['Country'] == 'United Kingdom'].copy()
print(f"Linhas UK: {df_uk.shape[0]}")

Linhas UK: 725250

In [18]:
df_uk.to_csv('../data/processed/online_retail_clean_uk.csv', index=False)
print("Arquivo salvo com sucesso")

Arquivo salvo com sucesso